// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFC300;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$middle-gray: rgba(0,0,0,0.6);
$light-gray: #F4F4F4;
$purple: #3A204B;
$black-gray: #333333;
