// Specific CSS for your home-page
.home-banner {
  height: 470px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.text-container {
display: block;
color: white !important;
 // h1 {
 //  padding-top: 50px;
 //  padding-bottom: 20px;
 //  font-size: 64px;
 // }
 #white-logo {
  width: 400px;
  padding-top: 30px;
 }
 h3 {
  padding-bottom: 50px;
  font-weight: lighter;
 }
 .input-group {
  margin: auto;
 }
 #text-link {
  color: white !important;
 }
}

