// Specific CSS for your home-page
.home-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
.home-banner {
  height: 470px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.text-container {
display: block;
color: white !important;

 h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 64px;

 }
 h3 {
  padding-bottom: 50px;
  font-weight: 300;
 }
 .input-group {
  margin: auto;
 }
 .btn {
  border: 1px solid $yellow;
 }
 #text-link {
  color: white !important;
 }
}

.sub-title {
  margin-top: 50px;
  margin-bottom: 15px;
}
