// Specific CSS for your home-page
.banner {
  height: 470px;
  background-size: cover;
}

.text-container {
display: block;
align-items: center;
justify-content: center;
color: white !important;
 h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 64px;
 }
 h3 {
  padding-bottom: 80px;
  font-weight: lighter;
 }
 #text-link {
  color: white;
 }
}

.input-group {

}
