.flat-info {
  padding: 20px;
  h2, p {
    margin: 0px;
    font-weight: lighter;
  }
}
.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  padding-right: 20px;
}
.details {
 display: flex;
 align-items: center;
 padding-top: 20px;
  p {
    padding-right: 20px;
  }
}
.description {
margin-top: 25px;
}
.btn-yellow {
  border: 1px solid $yellow;
  color: white;
}

.yellow-stars {
  color: $yellow;
}
