.main-container {
  display: flex;
  margin: 0px;
}

.cards-container {
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
}

#map {
  height: 100vh;
  max-width: 45%;
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
}

.filter-bar {
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  margin: 3px;
}

.marker-window {
  width: 250px;
  .card {
    margin: 0px;
  }
}

.white-box {
  background-color: white;
  padding-top: 10px;
  margin-top: 15px;

}
