.main-container {
  display: flex;
  margin: 0px;
}

.btn {
  border: 1px solid rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.4);
}

.cards-container {
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
}

#map {
  height: 100vh;
  max-width: 25%;
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
}

.filter-bar {
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  margin: 3px;
}
