.banner {
 height: 400px;
 background-size: cover !important;
 background-position: center;
}

.flat-info {
  padding: 20px;
  h2, p {
    margin: 0px;
  }
}
.recap {

}
.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {

}
.user {

}
.details {
 display: flex;
 align-items: center;
}
.description {

}
.new-reservation {
  padding: 20px;
}
