<!-- <div class="footer-push"></div> -->

<div class="footer">
  <div class="footer-copyright">
    © AirJam has been made @<span><a href="https://www.lewagon.com/fr", target="_blank", id="wagon-link">Le Wagon</a></span> in march 2018 by Nina, Kenza, Marion and Elsa.
  </div>
</div>

