#notification {
  border-radius: 50%;
  color: white;
  font-size: 8px;
  background-color: red;
}

.notification-position {
  position: absolute;
  bottom: -4px;
  right: 0px;
  height: 12px;
  width: 12px;
}

.notification-holder {
  position: relative;
}
