
// .card-content {
//   height: 150px;
//   border-radius: 1px;
//   margin: 15px 10px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   font-size: 25px;
//   color: white;
//   font-weight: bolder;
//   text-shadow: 0 0 10px rgba(0,0,0,0.7);
// }

.card {
  background: white;
  border-radius: 4px;
  margin: 0px 5px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 2px #e7e7e7;
}

.card-photo {
  padding: 15px;
  height: 180px;
}

.card-content {
  position: relative;
  padding: 5px;
  height: 85px;
}

.place-category {
  position: absolute;
  bottom: 67px;
  left: 5px;
  p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.place-name {
  position: absolute;
  bottom: 23px;
  left: 5px;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  h3 {
    margin: 0px;
    line-height: 11px;
    font-weight: bold;
  }
  a {
    font-size: 14px;
    font-weight: lighter;
  }
  a:hover {
    text-decoration: none !important;
    opacity: 0.6;
  }
}

.place-price {
  position: absolute;
  bottom: 2px;
  left: 5px;
  p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
}


