
// .card-content {
//   height: 150px;
//   border-radius: 1px;
//   margin: 15px 10px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   font-size: 25px;
//   color: white;
//   font-weight: bolder;
//   text-shadow: 0 0 10px rgba(0,0,0,0.7);
// }

.card {
  background: white;
  border-radius: 4px;
  margin: 14px 12px;
  box-shadow: 1px 1px 2px #e7e7e7;
}

.card-photo {
  padding: 15px;
  height: 180px;
}

.card-content {
  padding: 5px;
  height: 70px;
  line-height: 1em;
  h3 {
    margin: 0px;
  }
  a {
    font-size: 18px;
    font-weight: lighter;
  }
  p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
}


