<div class="filter-bar">
  <div class="filter btn">City</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Capacity</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Equipment</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Price</div>
  <!-- insert logic behind each filter -->
</div>
<div class="main-container">
  <div class="cards-container container">
    <div class="row">
      <% @places.each do |place| %>
        <div class="col-xs-12 col-sm-6">
          <%= render 'shared/card', place: place %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

