<div class="filter-bar">
  <div class="filter btn">City</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Capacity</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Equipment</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Price</div>
  <!-- insert logic behind each filter -->
</div>
<div class="main-container">
  <div class="cards-container container">
    <div class="row">
      <% if @places == [] %>
        <div class="default-message"><em>Sorry, we have no places listed under your search criteria.</em>
          <div class="white-box">Have you thought of these places instead ?
            <div class="row">
              <% Place.all.sample(3).each do |place| %>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <%= render 'shared/card', place: place %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <% @places.each do |place| %>
          <div class="col-xs-12 col-sm-6">
            <%= render 'shared/card', place: place %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

