<div class="filter-bar">
  <div class="filter btn">City</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Capacity</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Equipment</div>
  <!-- insert logic behind each filter -->
  <div class="filter btn">Price</div>
  <!-- insert logic behind each filter -->
</div>
<div class="main-container">
  <div class="cards-container container">
    <div class="row">
      <% @places.each do |place| %>
        <div class="col-xs-12 col-sm-6">
          <%= render 'shared/card', place: place %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map">
    <img src="https://lh4.googleusercontent.com/proxy/ljpzfi_7Cot9t8G-FkOUNNyoUli7c_CgVfvtAzQArzlBNQi7Zh8vuwA7ztHvYwH0lIh5mT-yS9sl8nTSEUwJ8jm4Gg34yDAJGQzyu2bhSaVe8Dc8a0GlJ8q5Kz9-ROAnEP01KBzaZcuFPUgr3OBG5g=s0-d" alt="map-placeholder">
  </div>
</div>




