<div class="filter-bar">

  <!--<div class="dropdown">
    <button class="dropdown-toggle filter btn">Dropdown</button>
    <div class="dropdown-content">
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#" id="filter50" class="navbar-wagon-item navbar-wagon-link"> < 50 €</a></li>
        <li><a href="#" id="filter50-200" class="navbar-wagon-item navbar-wagon-link"> 50-200 €</a></li>
        <li><a href="#" id="filter200+" class="navbar-wagon-item navbar-wagon-link"> > 200 €</a></li>
      </ul>
    </div>
  </div>


id: "navbar-wagon-menu" -->




<div class="main-container">
  <div class="cards-container container">
    <div class="row">
      <% if @places == [] %>
        <div class="default-message"><em>Sorry, we have no places listed under your search criteria.</em>
          <div class="white-box">Have you thought of these places instead ?
            <div class="row">
              <% Place.all.sample(3).each do |place| %>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <%= render 'shared/card', place: place %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <% @places.each do |place| %>
          <div id="unfiltered-result" class="col-xs-12 col-sm-6">
            <%= render 'shared/card', place: place %>
          </div>
          <div id="filtered-result" class="col-xs-12 col-sm-6">
            <%= render 'shared/card', place: place if place.price  %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>


