

<div class="container">
  <div class="filter-bar">
    <div class="filter btn">City</div>
    <!-- insert logic behind each filter -->
    <div class="filter btn">Capacity</div>
    <!-- insert logic behind each filter -->
    <div class="filter btn">Equipment</div>
    <!-- insert logic behind each filter -->
    <div class="filter btn">Price</div>
    <!-- insert logic behind each filter -->
  </div>
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% @places.each do |place| %>
        <div class="card">
          <div class="card-photo"><%= cl_image_tag place.photo, height: 300, width: 400, crop: :fill %></div>
          <div class="card-content">
            <p><%= place.category.upcase %></p>
            <h3><strong><%= place.name %></strong></h3>
            <p><em><%= place.price_per_hour %> per hour</em></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>



